html, body {
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #333333;
}
/**Navbar**/
#navbar {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 0.9rem;
}

#navbar div {
    float: right;
    margin-right: 1rem;
}

#navbar a {
    text-decoration: none;
    float: left;
    color: #333333;
    padding: 0.5rem 1rem;
}

#navbar a:hover {
    color: #333333;
    text-decoration: underline;
}

/**Center**/
#center {
    height:90vh;
    width: 99vw;
    display:flex;
    align-items:center;
    justify-content:center;
}
#vcenter {
    position: relative;
}
/**Search**/
#search-div {
    position: relative;
}
#search {
    position: absolute;
    left: -7rem;
    width: 30rem;
    border: 1px solid #555555;
    padding: 0.5rem 2rem;
    margin: 2rem 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
#icon {
    position: absolute;
    left: -6.2rem;
    top: 2.5rem;
    z-index: 1;
}
#search:hover {
    box-shadow: 5px 10px 8px #888888;
}
/**Image**/
img {
    width: 20rem;
}
/**Buttons*/
#btn-div {
    position: absolute;
    top: 13rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#btns {
    border: none;
    padding: 0.5rem 1rem;
    background: #eeeeee;
}
/**Media**/
@media(max-width: 480px) {
    img {
        width: 100%;
    }
    #icon {
        position: absolute;
        left: -1.1rem;
    }
    #search {
        width: 100%;
        padding: 0.5rem 2rem;
        left: -2rem;
    }
}